html {
    font-size: 16px;
}

@keyframes round-to-rect {
    from {
        clip-path: circle(0);
    }
    to {
        clip-path: circle(100%);
    }
}

body {
    background-color: hsl(0, 0%, 98%);
    background-repeat: no-repeat;
    background-size: cover;
    animation: round-to-rect 1s;
}

body::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

body::-webkit-scrollbar-track {
    background-color: rgb(73, 73, 73);
}

body::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: rgb(143, 143, 143);
    border-radius: 10px;
}

@keyframes change-hue-color {
    0% {
        filter: hue-rotate(0);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 98vh;
}

header::after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    animation: change-hue-color 8s linear infinite;
}

#head-img {
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

@keyframes change-text-shadow-color {
    0% {
        text-shadow: 3px 3px 0 rgb(0, 156, 185);
    }
    50% {
        text-shadow: 3px 3px 0 rgb(255, 156, 185);
    }
    100% {
        text-shadow: 3px 3px 0 rgb(0, 156, 185);
    }
}
#title {
    vertical-align: middle;
    color: hsl(0, 0%, 98%);
    animation: change-text-shadow-color 8s ease-in-out infinite;
}

footer {
    color: #686868;
    background-color: #212121;
    padding-top: 8px;
}